body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
	color: #626262;
}

.app {
	max-width: 1060px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	margin-bottom: 60px;
}

a {
	text-decoration: none;
	color: black;
}

img {
	width: 100%;
	object-fit: cover;
}

section {
	max-width: 100%;
	padding-bottom: 120px;
}

section.lifestyle {
	padding-bottom: 50px;
}

aside {
	margin-bottom: 100px;
	padding-top: 75px;
	padding-bottom: 100px;
	text-align: center;
	background-color: #f0f0f0;
}

footer {
	padding: 40px 0;
	background-color: #f0f0f0;
}

h2 {
	font-size: 30px;
}

h4 {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	color: #b4ad9e;
}

p {
	line-height: 24px;
}

form {
	margin-left: 40px;
}

a.menu {
	margin-left: 95px;
	font-size: 14px;
	line-height: 24px;
}

.logo {
	font-family: 'Inconsolata', monospace;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 24px;
	letter-spacing: 5px;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.photodiary {
	margin-top: 95px;
}

.comment {
	margin-top: 50px;
}

.lifestyle {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.life-card {
	max-width: 420px;
	padding-bottom: 70px;
}

.email {
	width: 360px;
	padding: 10px 1px;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: transparent;
}

.button {
	margin-bottom: 100px;
	text-align: center;
}

.load-more {
	padding: 18px 35px;
	background-color: transparent;
	border-width: 1px;
	outline: none;
	border-color: #b4ad9e;
	border-style: solid;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	line-height: 24px;
	color: #626262;
}

.email-btn {
	position: relative;
	left: -40px;
	border: none;
	text-align: center;
}

.terms-policy {
	width: 50%;
}

.terms-policy span {
	margin-left: 10px;
}

.social-media {
	display: flex;
	flex-direction: row;
	justify-content: end;
	width: 50%;
	margin-right: 10px;
}

.social-media span {
	margin-right: 40px;
}

footer .app {
	display: flex;
	justify-content: space-between;
	color: black;
}

.icon {
	margin-left: 3px;
}

.icon img {
	width: 24px;
	height: 24px;
	object-fit: scale-down;
}

.icons {
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 24px;
	height: 24px;
	margin-right: 40px;
}